#form-container {
  align-items: center;
  background-color: var(--medium-green);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 120px 80px 40px;
  width: 70%;
}

/* Form styling + Grid positioning */

.create-employee-form {
  box-sizing: border-box;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  margin: auto;
  position: relative;
  width: 100%;
}

.firstname-input {
  grid-column: 1;
  grid-row: 1;
}

.lastname-input {
  grid-column: 2;
  grid-row: 1;
}

.birthdate-input {
  grid-column: 1;
  grid-row: 2;
}

.startdate-input {
  grid-column: 2;
  grid-row: 2;
}

.street-input {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.city-input {
  grid-column: 1;
  grid-row: 4;
}

.state-input {
  grid-column: 2;
  grid-row: 4;
}

.zipcode-input {
  grid-column: 1;
  grid-row: 5;
}

.department-input {
  grid-column: 1;
  grid-row: 6;
}

.react-datepicker-wrapper {
  height: 100%;
  display: flex !important;
}

.input,
.react-datepicker__input-container > input {
  background-color: transparent;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 5px;
  font-size: 20px;
  height: 100%;
  padding-left: 10px;
  width: 100%;
}

.input::placeholder,
.react-datepicker__input-container > input::placeholder {
  color: var(--white);
  font-size: 20px;
}
.input:focus::placeholder {
  color: transparent;
}

.input:focus,
.react-datepicker__input-container > input:focus {
  border-color: var(--black);
  outline: none;
  cursor: text;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
}

/* Designing DatePicker */

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: var(--white);
}

.react-datepicker__day {
  color: var(--black);
}

.react-datepicker__header,
.react-datepicker__day--selected {
  background-color: var(--dark-green);
}

.react-datepicker__navigation-icon::before {
  border-color: var(--white);
}

/* Submit button */
.new-employee-button {
  background-color: var(--black);
  bottom: 2px;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  margin-top: 20px;
  padding: 10px;
  position: absolute;
  right: 2px;
  width: 240px;
}

.new-employee-button:hover {
  color: var(--medium-green);
}

/* Errors */

.error-message {
  color: var(--red);
  margin: 8px 0 0 15px;
}
