html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Colors palette*/
  --light-green: #93ad18;
  --medium-green: rgba(90, 110, 7, 0.6);
  --dark-green: #9ca86a;
  --white: #fcfafa;
  --black: #453f3b;
}

/* Homepage */
#homepage {
  display: flex;
}

/* Header */

.header {
  background-color: var(--black);
  height: 100vh;
  min-width: 345px;
  position: relative;
  width: 40%;
}

.hrnet-title-and-subtitle {
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: auto;
  left: 5%;
  margin: 0 auto;
  width: 320px;
  position: absolute;
  top: 35%;
}

.hrnet-title {
  font-size: 5em;
}

.hrnet-subtitle {
  color: var(--medium-green);
  font-size: 1em;
  right: 0;
  position: absolute;
  top: 5em;
}

.header-link {
  align-items: center;
  bottom: 5%;
  color: var(--white);
  display: flex;
  position: absolute;
  right: 5%;
}

.header-link:hover {
  color: var(--medium-green);
}

.header-link-icon {
  font-size: 1.5em;
}

.header-link-to-employees-list {
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
}

/* Form */

#form-container {
  align-items: center;
  background-color: var(--medium-green);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  padding: 80px;
}

.create-employee-form {
  /* background-color: darkgreen; */
  box-sizing: border-box;
  display: grid;
  height: 90vh;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin: auto;
  position: relative;
  width: 100%;
}

.input1 {
  grid-column: 1;
  grid-row: 1;
}

.input2 {
  grid-column: 2;
  grid-row: 1;
}

.input3 {
  grid-column: 1;
  grid-row: 2;
}

.input4 {
  grid-column: 2;
  grid-row: 2;
}

.input5 {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.input6 {
  grid-column: 1;
  grid-row: 4;
}

.input7 {
  grid-column: 2;
  grid-row: 4;
}

.input8 {
  grid-column: 1;
  grid-row: 5;
}

.input9 {
  grid-column: 1;
  grid-row: 6;
}

.input10 {
  grid-column: 2;
  grid-row: 6;
}

.react-datepicker-wrapper {
  height: 100%;
  display: flex !important;
}

input,
select {
  background-color: transparent;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 5px;
  font-size: 20px;
  height: 100%;
  padding-left: 10px;
  width: 100%;
}

input::placeholder {
  color: var(--white);
  font-size: 20px;
}
input:focus::placeholder {
  color: transparent;
}

input:focus,
select:focus {
  border-color: var(--black);
  outline: none;
  cursor: text;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
}

.new-employee-button {
  background-color: var(--black);
  bottom: 2px;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  margin-top: 20px;
  padding: 10px;
  position: absolute;
  right: 2px;
  width: 240px;
}

/* Designing DatePicker */
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: var(--white) !important;
}

.react-datepicker__day {
  color: var(--black) !important;
}

.react-datepicker__header {
  background-color: var(--dark-green) !important;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--white) !important;
}

/* Modal */

.background-modal {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.modal {
  display: flex;
  flex-direction: column;
}

.modal-fall {
  animation: modalFall 0.5s ease forwards;
}

@keyframes modalFall {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-rise {
  animation: modalRise 0.5s ease forwards;
}

@keyframes modalRise {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}

.modal-top {
  align-items: center;
  background-color: var(--dark-green);
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 10vh;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 30vw;
}

.modal-icon {
  color: var(--white);
  font-size: 60px;
  position: absolute;
  top: 20px;
}

.modal-bottom {
  align-items: baseline;
  background-color: var(--white);
  border-radius: 0 0 10px 10px;
  display: flex;
  height: 30vh;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 30vw;
}

.close {
  background-color: var(--dark-green);
  bottom: 40px;
  border: none;
  color: var(--white);
  font-size: 20px;
  padding: 15px 0;
  position: absolute;
  width: 80%;
}

.modal-text {
  color: var(--black);
  font-size: 30px;
  margin-top: 60px;
}
